/* nav structure */
.nav{
    position: relative;
    height: 80px;
    background: #8117d2;
    color: white;
    transition: all 0.3s ease;
    z-index: 10;
}
.nav.transparent:hover{
    background: #8117d2;
}
.nav.transparent{
    background: transparent;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* logo */
.logo{
    flex: 0;
    height: 40px;
    margin: auto;
}
.logo img{
    height: 100%;
    object-fit: cover;
}
.nav:hover .logo img{
    color: rgb(228, 117, 228);
    /* filter: hue-rotate(180deg) brightness(150%); */
}

/* menu */
.nav-menu{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    height: 100%;
}
.nav-links{
    display: flex;
    list-style: none;
    height: 100%;
}
.nav-links a{
    text-decoration: none;
    color: inherit;
    height: 100%;
}
.nav-link{
    padding:0 15px;
    height: 100%;
    display: grid;
    place-items: center;
    text-underline-offset:1em;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover{
    text-decoration: underline rgba(255, 255, 255, 0.5);
}

/* explore-menu */
.explore-menu:hover .explore-submenu{
    opacity: 1;
    visibility: visible;
}
.explore-submenu{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 20px;
    background: rgba(255, 255, 255);
    color: black;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}
.explore-submenu img{
    max-width: 60px;
    width: 100%;
    margin: 0 auto 10px;
    transition: all 0.3s;
}
.explore-submenu a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explore-submenu a:hover{
    color: rgb(86, 86, 235);
}
.explore-submenu a:hover img{
    transform: scale(1.1);
}

/* lang sideline */
.lang-sideline{
    display: flex;
    gap: 5px;
}
.lang-list{
    padding: 25px 15px;
    cursor: pointer;
    display: flex;
    line-height: 0;
    align-items: center;
    border-radius: 5px;
}
.lang-list:hover{
    background: rgba(255, 255, 255, 0.2);
}
.lang-list.active{
    background: rgba(255, 255, 255, 0.3) !important;
}

@media (max-width: 768px) {
    .nav{
        display: none
    }
}

@media (min-width:2000px) {
    .nav{
        height: 100px;
    }
    .logo img{
        height: 120%;
    }
    .lang-selector li{
        padding: 20px;
    }
    .nav-menu{
        margin-left: 80px;
    }
}