.about-hero{
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('https://cdn.pixabay.com/photo/2018/03/10/12/00/teamwork-3213924_1280.jpg') no-repeat center center / cover;
    width: 100%;
    height: 85dvh;
    margin-top: -80px;
}
.about-hero-msg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-inline: 30px;
    position: relative;
    color: white;
}
.about-hero-msg h1{
    margin-bottom: 25px;
}
.about-hero-msg p{
    text-wrap: balance;
}
.company-story{
    margin-block: 100px;
}
.company-story h1{
    margin-bottom: 40px;
}
.company-story p{
    margin-bottom: 25px;
    text-align: justify;
    line-height: 30px;
}
.company-highlights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 100px;
}
.company-highlight-tile{
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
}
.company-highlight-tile img{
    width: 100%;
    aspect-ratio: 3/2;
    margin-bottom: 20px;
}
.company-highlight-tile p{
    margin-block: 20px;
    text-align: justify;
    text-wrap: balance;
}
.company-resources{
    border-top: 2px solid salmon;
    padding-block: 40px;
    margin-bottom: 50px;
}
.company-resources h1{
    margin-bottom: 40px;
}
.resource-lists{
    display: grid;
    grid-template-columns: repeat(2, minmax(230px, 1fr));
    gap: 20px;
}
.resource-card{
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    text-align: start;
}
.resource-card h3{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 7px;
}
.award-section{
    background: #f6f6f6;
    padding: 80px 100px 100px;
    text-align: center;
    position: relative;
}
.award-section h1{
    margin-bottom: 50px;
}
.awards-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.award-card{
    border: 1px solid rgb(84, 84, 84);
    padding: 30px;
    width: 300px;
}
.award-card img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.award-card p{
    color: #373737;
}
@media (max-width:768px) {
    .about-hero{
        margin-top: 0px;
    }
    .company-story{
        margin-block: 50px;
    }
    .resource-lists{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .company-story h1{
        margin-bottom: 20px;
    }
    .award-section{
        padding: 0;
    }
    .award-card {
        width: 200px ;
        padding: 10px ;
    }
}

@media (min-width:2000px) {
    .about-hero{
        margin-top: -150px;
    }
}