.lectern-hero,
.lectern-banner,
.lectern-detail{
    overflow: hidden;
    position: relative;
}
.lectern-hero img,
.lectern-banner img,
.lectern-detail img{
    width: 100%;
}
.lectern-detail{
    margin-top: -10px;
}
.lectern-hero-text{
    position: absolute;
    top: 100px;
    left: 10%;
    color: white;
}
.lectern-hero-text a{
    color: rgb(0, 166, 255);
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}
.lectern-banner-text{
    position: absolute;
    top: 20%;
    right: 20%;
}
.lectern-detail-text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    color: white;
}
.lectern-hero-text h5{
    color: rgb(214, 214, 214);
    margin-bottom: 30px;
}
.lectern-hero-text .text-breaker{
    padding-inline: 20px;
}
.lectern-banner-text .desc{
   max-width: 400px;
}
.lectern-banner-text .keywords{
    color: #333;
    display: flex;
    justify-content: space-between;
    margin-block: 30px;
    gap: 30px;
    text-align: center;
}
.lectern-banner span{
    font-weight: bold;
}
.lectern-detail-text div{
    margin-block: 30px;
}
.lectern-detail-p{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    font-weight: bold;
    padding-inline: 20px;
}
.lectern-specific{
    padding: 40px;
}
.lectern-specific ol{
    color: #5d5c5c;
    text-align: start;
    line-height: 25px;
}
.lecture-adapt{
    padding-top: 80px;
    padding-bottom: 50px;
}
.lecture-adapt h1{
    text-align: center;
}
.lecture-adapt p{
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}
.lecture-adapt-box{
    display: flex;
    justify-content: space-around;
    padding-inline: 10px;
}
.lecture-adapt-box img{
    width: 30%;
}
@media (max-width:768px) {
    .lectern-hero-text{
        left: 10%;
    }
    .lectern-hero-text p{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 25px;
    }
    .lectern-hero-text .text-breaker{
        display: none;
    }
    .lectern-banner-text{
        margin-top: -30px;
        right: 20px;
        padding-left: 10px;
    }
    .lectern-detail-text{
        width: 100%;
    }
    .lecture-adapt-box{
        flex-direction: column;
    }
    .lecture-adapt-box img{
        width: 100%;
        aspect-ratio: 2;
        object-fit: contain;
        margin-bottom: 10px;
    }
    .lectern-specific{
        padding: 10px 0;
    }
}
@media (max-width:480px) {
    .break-line{
        display: none;
    }
    .lectern-detail-text{
        top: 40px;
        text-align: start;
        padding-left: 10px;
    }
    .lectern-detail-text h1{
        font-size:20px;
    }
    .lectern-detail-text p{
        padding: 0;
        font-size: 14px;
        flex-direction: column;
        gap: 10px;
    }
    .lecture-adapt{
        padding-top: 40px;
    }
}