.feature-card {
    --timing: 500ms;
    --rotation: 40deg;
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    transform-style: preserve-3d;
    perspective: 2500px;
}
.bg-wrapper{
    border: 1px solid #c6c6c6;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.feature-card:hover .bg-wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.bg-wrapper::before,
.bg-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
}
.bg-wrapper::before{
    z-index: 100;
    background-image: radial-gradient(circle, transparent 150px, rgba(160, 72, 255, 0.2));
    opacity: 0;
    transition: opacity var(--timing);

}
.feature-card:hover .bg-wrapper::before,
.feature-card:hover .bg-wrapper::after{
    transition: all 0.6s ease-in;
    opacity: 1;
}
.bg-wrapper::after{
    bottom: 0;
    opacity: 0;
    background-image: linear-gradient(
      to bottom,
      transparent 80%,
      rgba(71, 11, 131, 0.3) 90%,
      rgb(71, 11, 131) 100%
    );
}  
.feature-keyword{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-underline-offset: 2px;
    text-decoration:underline;
    text-decoration-color: #b9b9b9;
}
.feature-card:nth-child(4n+2) .feature-keyword,
.feature-card:nth-child(4n+3) .feature-keyword
{
    color: rgba(231, 231, 231, 0.8);
}
.feature-card:hover .feature-keyword{
    opacity: 0;
}
.feature-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature-front-img {
    position: relative;
    opacity: 0;
    z-index: 20;
    transition: var(--timing);
    width: 80%;
    height: 300px;
    object-fit: contain;
}
.feature-card:hover .feature-front-img {
    opacity: 1;
    transform: translate3d(0%, -22%, 80px);
}
.feature-title{
    position: absolute;
    bottom: 10px;
    width: 80%;
    color: white;
    padding: 10px 5px;
    transition: var(--timing);
    background: rgba(33, 33, 33, 0.5);
    text-decoration: none;
    z-index: 30;
}
.feature-title p{
    margin-bottom: 10px;
}
.feature-card:hover .feature-title{
    bottom: 0;
    transform: perspective(900px) rotateX(25deg) translate3d(0%, -10%, 100px);
    color: #2d33ec;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.785);
    text-decoration: underline;
    text-underline-offset: 5px;
}
.feature-card:hover .feature-title > p{
    display: none;
}
@media (max-width:768px) {
    .feature-card{
       display: none;
    }
}
@media (min-width:2000px) {
    .feature-front-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .feature-section{
        gap: 100px;
    }
    .feature-card:hover .feature-title{
        bottom: 0;
        transform: perspective(900px) rotateX(25deg) translate3d(0%, -10%, 110px);
    }
    .feature-title h4{
        font-size: 1.3vw;
    }
}