.btn-to-contact{
    position: fixed;
    bottom: 40px;
    right: 4%;
    z-index: 100;
    color: white;
}
.contact-icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    background: linear-gradient(rgb(0, 162, 255), rgb(244, 106, 244));
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 10s linear infinite;
    animation-delay: 1.5s;
}
.contact-icon-text{
    position: absolute;
    top: -25px;
    right: -30px;
    width: 100px;
    font-size: 14px;
    color: rgb(0, 162, 255);
    animation: rotate 10s ease-in-out infinite;
    animation-delay: 1.9s;
    font-weight: bold;
}
.arrow-icon{
    position: absolute;
    top: -10px;
    left: -50px;
    font-size: 50px;
    color: rgb(0, 162, 255);
    transform: rotate(200deg);
    animation: pop 10s ease-in-out infinite;
    opacity: 0;
    transform: scale(0);
}
.product-interest{
    padding-block: 30px;
}
.product-contact{
    background: rgba(239, 238, 238, 0.7);
    border-radius: 100px;
    display: grid;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
    line-height: 30px;
}
.product-contact h2{
    text-transform: capitalize;
    margin-bottom: 10px;
}
.product-contact .highlighter{
    background: rgb(217, 255, 161);
    padding-inline: 10px;
}

@keyframes bounce {
    8%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(-30px);
    }
    15%{
        transform: translateY(0);
    }
}

@keyframes rotate {
    5%{
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    6%{
        transform: translateY(-30px);
    }
    10%{
        transform: translateX(-50px) rotate(-360deg);
    }
    60%{
        transform: translateX(-50px) rotate(-360deg);
    }
    70%{
        transform: translateX(0px) rotate(-360deg);
    }
    100%{
        transform: translateX(0px) rotate(-360deg);
    }
}

@keyframes pop {
    30%{
        opacity: 0;
        transform: scale(0);
    }
    35%{
        opacity: 1;
        transform: scale(1) rotate(200deg);
    }
    75%{
        opacity: 1;
        transform: scale(1) rotate(200deg);
    }
    80%{
        opacity: 0;
        transform: scale(0);
    }
}

@media (max-width:768px) {
    .contact-icon{
        transform: scale(0.7);
    }
    .product-contact{
        border-radius: 20px;
    }
}
@media (min-width:2000px) {
    .product-contact p{
        line-height: 50px;
    }
}