/* hero */
.ptz-hero {
    position: relative;
    z-index: 2;
}
.ptz-hero .text{
    position: absolute;
    top: 20%;
    left: 8%;
    max-width:38vw;
    padding-right: 20px;
}
.ptz-hero img{
    width: 100%;
    vertical-align: top;
}
.ptz-hero .title{
    font-size: clamp(20px, 4vw, 40px);
    font-weight: bold;
}
.ptz-hero .desc{
    font-size: clamp(10px, 2vw, 15px);
    margin-block: 20px;
}
.ptz-hero a{
    display: inline-block;
    color: white;
    font-size: 12px;
    text-decoration: none;
    background: rgb(0, 162, 255);
    padding: 10px 20px;
    border-radius: 5px;
}
@media (max-width:768px) {
    .ptz-hero .text{
        position: relative;
        top: 0 !important;
        left:0;
        padding: 50px 20px;
        width: 100%;
        max-width: fit-content;
    }
}


/* intro */
.ptz-intro{
    height: 200vh;
    position: relative;
}
.ptz-intro-wrapper{
    position: sticky;
    top: 0;
    height: 100vh;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
.ptz-intro .title{
    font-size: clamp(20px, 4vw, 40px);
    font-weight: bold;
}
.ptz-intro .desc{
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px;
}
.ptz-intro img{
    width: 60%;
}
.ptz-intro .keywords{
    font-size: 16px;
    margin-top: 20px;;
}
.ptz-intro strong{
    color: rebeccapurple;
}
@media (max-width:768px) {
    .ptz-intro{
        display: none;
    }
}


/* banner */
.ptz-banner {
    position: relative;
}
.ptz-banner .text{
    position: absolute;
    top: 20%;
    left: 8%;
    max-width:38vw;
    padding-right: 20px;
}
.ptz-banner img{
    width: 100%;
    vertical-align: top;
}
.ptz-banner .title{
    font-size: clamp(20px, 4vw, 40px);
    font-weight: bold;
}
.ptz-banner .desc{
    font-size: clamp(10px, 2vw, 15px);
    margin-block: 20px;
}
.ptz-banner ul{
    margin-left: 30px;
    color:#AE3A1A;
}
@media (max-width:768px) {
    .ptz-banner ul{
        margin-left: 20px;
        font-size: 14px;
    }
    .ptz-banner .text{
        position: relative;
        top: 0;
        left:0;
        padding: 100px 20px 50px;
        width: 100%;
        max-width: fit-content;
    }
}


/* features */
.ptz-features{
    display: flex;
    padding-block: 100px;
    gap: 30px;
}
.ptz-features .text{
    width: 50%;
}
.ptz-features .title{
    font-size: clamp(20px, 4vw, 35px);
    font-weight: bold;
}
.ptz-features .desc{
    margin-block: 20px;
    font-size: 14px;
    line-height: 25px;
    text-align: start;
}
.ptz-features .feature-keywords{
    text-align: start;
    line-height: 30px;
    font-weight: bold;
    color: #228ed1;
}
.ptz-feature-img{
    width: 50%;
}
.ptz-feature-img img{
    width: 100%;
    aspect-ratio: 69 /38;
}
.ptz-features ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.ptz-features ul li{
    padding: 20px;
    border-bottom: 1px solid grey; 
    color: grey;
}
.ptz-features ul li.active{
    color: black;
    border-bottom: 2px solid black; 
}
@media (max-width:768px) {
    .ptz-features{
        flex-direction: column;
        padding-bottom: 50px;
    }
    .ptz-features .text{
        width: 100%;
    }
    .ptz-features > *{
        width: 100%;
    }
}

/* spec */
.ptz-spec{
    text-align: center;
    padding-bottom: 100px;
    font-size: clamp(15px, 3vw, 20px);
}
.ptz-spec img{
    width: 90%;
    margin: 50px auto 0;
    display: block;
}
@media (max-width:768px) {
    .ptz-spec{
        text-align: center;
        padding-bottom: 30px;
    }
    .ptz-spec img{
        width:95%;
        margin: 30px auto 0;
    }
}