.partners{
    padding-block: 100px;
}
.partner-list{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    justify-content:center;
}
.partner-box{
    width: 130px;
    background: #f0f0f0;
}
.partner-box img{
    width: 80%;
    margin: auto;
    aspect-ratio: 1;
    opacity: 0.8;
    object-fit: contain;
    filter: grayscale(100%);
}
@media (max-width:768px) {
    .partners{
        padding-block: 50px;
    }
    .partner-box{
        width: 70px;
        gap: 10px;
        margin: auto;
    }
}
@media (min-width:2000px){
    .partner-list{
        width: 80%;
        max-width: none;
    }
    .partner-box{
        width: 200px;
    }
}