@font-face {
  font-family: 'NotoSanLao';
  src: url('./assets/fonts/NotoSansLao.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa';
  src: url('./assets/fonts/Nexa.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  position: relative;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 48px;
  text-align: center;
}
.font-header{
  font-size: clamp(24px, 4vw, 40px);
}
.font-subheader{
  font-size: clamp(18px, 2.5vw, 24px);
}
.font-default{
  font-size: clamp(13px, 2vw, 16px);
}
.font-small{
  font-size: clamp(12px, 1.5vw, 15px);
}

@media (max-width: 768px) {
  .container{
    padding: 0 20px;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 2em;
  }
  .container{
    max-width: none;
    width: 80%;
  }
  .font-header{
    font-size: 60px;
  }
  .font-subheader{
    font-size: 38px;
  }
  .font-default{
    font-size:25px;
  }
  .font-small{
    font-size: 20px;
  }
}